services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bolmanagement_front
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
